.container {
  .content {
    color: #606266;
    vertical-align: auto;
  }

  .one-cell-height {
    height: 1 * 30px;
  }
  .one-cell-line-height {
    line-height: 1 * 30px;
  }
  .two-cellHeight {
    display: block;
    height: 2 * 30px;
  }
  .two-cell-line-height {
    line-height: 2 * 30px;
  }
  .four-cellHeight {
    height: 4 * 30px;
  }
  .four-cell-line-height {
    line-height: 4 * 30px;
  }
  .five-cellHeight {
    height: 5 * 30px;
  }
  .five-cell-line-height {
    line-height: 5 * 30px;
  }

  a {
    color: #444;
    text-decoration: none;

    &:hover {
      color: #20a0ff;
    }
  }

  .mb10 {
    margin-bottom: 10px;
  }

  .mgr-10 {
    margin-right: 10px;
  }

  .mgr-5 {
    margin-right: 5px;
  }

  .red {
    color: red;
  }
  .clickToSeeDetail {
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #b3b3b3;
    a {
      color: #b3b3b3;
      &:hover {
        color: #20a0ff;
      }
    }
  }
  .border-style {
    border-right: 1px solid rgb(235, 238, 245);
    border-bottom: 1px solid rgb(235, 238, 245);
    border-collapse: collapse;
  }
  .border-top {
    border-top: 1px solid rgb(235, 238, 245);
  }
  .border-left {
    border-left: 1px solid rgb(235, 238, 245);
  }
  h3 {
    margin: 0;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    font-family: OpenSans;
  }

  .product-data {
    p {
      span {
        margin: 0 10px;
      }
    }
  }
}
