.company-info-div {
  margin-top: 20px;

  .row {
    display: flex;
    flex-flow: row nowrap;

    .row-item {
      margin-right: 20px;
      align-items: center;
      vertical-align: center;
      font-size: 14px;
      margin-bottom: 12px;
    }
  }
}

.company-name {
  font-weight: 700;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
  align-items: center;
  margin-bottom: 12px;
  max-width: 100%;
}

.title {
  font-size: 24px
}

.margin-top {
  margin-top: 20px;
}

// cell
.image {
  width: 160px;
  height: 160px;
}

.text-div {
  width: 180px;
  min-height: 65px;
  max-height: 100px
}

.img-div {
  width: 180px;
  height: 180px;
}

.companyName {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
  margin-top: 0;
  font-size: 12px;
  font-weight: 400;
  color: #666;
  width: 100%;
}

.price {
  color: #666;
  font-size: 14px;
}

.moq {
  font-size: 12px;
  margin-top: 2px;
  color: #666;
}

.min-order {
  color: #666;
}